body {
  background-color: rgb(240, 240, 240) !important;
  padding-top: 4%;
  padding-bottom: 3%;
}

.button-login button {
  border-radius: 10px;
}

.btn-login {
  width: 100% !important;
  padding: 10px;
}

form.login-card {
  width: 50%;
  box-shadow: 0 0 10px grey;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
  margin: auto;
}

.username-input {
  margin-top: -22px;
  padding: 10px;
  /* border: 2px solid blue; */
}

.user-label {
  background-color: white;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
}

.password-input {
  margin-top: -22px;
  padding: 10px;
  /* border: 2px solid blue; */
}

.password-label {
  background-color: white;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
}

.change-password {
  margin-top: -15px;
}

.change-password a {
  text-decoration: none;
  color: black;
}

.change-password a:hover {
  font-weight: 600;
  color: black;
}

.name-brand {
  font-size: 40px;
  margin-bottom: 20px !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.name-brand-bottom {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5% !important;
}

.name-brand-bottom span {
  font-size: 12px;
  font-weight: 600;
}

/* RESPONSIVE */

/* Handphone*/
@media screen and (max-width: 500px) {
  form.login-card {
    width: 85%;
    box-shadow: 0 0 10px grey;
    padding: 50px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
  }
}
