html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/* HEADER & NAVBAR */

.header-navbar-dekstop {
  top: 0 !important;
}

.navbar-brand {
  color: white !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 35px !important;
}

/* HEADER & NAVBAR END */

.login {
  box-shadow: 0 0 3px grey;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 100px !important;
}
.login:hover {
  box-shadow: 0 0 10px grey;
  transition: 0.3s;
}

.line-bord {
  border-right: 3px solid;
  padding-right: 10px;
}

.pesanan-anda {
  margin-top: -90px;
}

span.text-span {
  font-size: 23px;
}
