html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.head-p {
  font-size: 15px;
  color: grey;
  padding: 2px 60px;
}

/*  */

form.login-card {
  width: 50%;
  box-shadow: 0 0 10px grey;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
  margin: auto;
}

.username-input {
  margin-top: -22px;
  padding: 10px;
}

.user-label {
  background-color: white;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  form.login-card {
    width: 85%;
    box-shadow: 0 0 10px grey;
    padding: 50px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
  }

  .head i {
    font-size: 20px;
  }

  .name-brand {
    margin-top: 30px;
  }

  h2.judul {
    font-size: 20px !important;
  }

  .head-p {
    font-size: 12px;
  }

  .norek {
    font-size: 20px;
  }

  .text-norek {
    font-size: 15px;
  }

  .username-input {
    margin-top: -20px !important;
    padding: 10px;
  }

  .user-label {
    background-color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 15px !important;
  }
}
@media screen and (max-width: 400px) {
  h2.judul {
    font-size: 17px !important;
  }

  .head-p {
    font-size: 10px;
  }

  .norek {
    font-size: 18px;
  }

  .text-norek {
    font-size: 13px;
  }

  .username-input {
    margin-top: -17px !important;
    padding: 10px;
  }

  .user-label {
    background-color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 10px !important;
  }
}

@media screen and (max-width: 800px) {
  .username-input {
    margin-top: -22px;
    padding: 10px;
  }

  .user-label {
    background-color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
  }
}
