html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/* HEADER & NAVBAR */

.header-navbar-dekstop {
  top: 0 !important;
}

.navbar-brand {
  color: white !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 35px !important;
}

/* HEADER & NAVBAR END */

.email-service {
  font-size: 24px;
}

.icon-call {
  border-right: 3px solid grey;
  padding: 5px;
  padding-right: 15px;
}

.icon-mail {
  border-right: 3px solid grey;
  padding: 5px;
  padding-right: 15px;
}

.icon-wa {
  border-right: 3px solid grey;
  padding: 5px;
  padding-right: 15px;
}

.card-service {
  box-shadow: 0 0 4px grey;
  border-radius: 10px;
}

.go-wa {
  font-size: 15px;
}

.wa-desc {
  margin-top: 8px;
}

@media screen and (max-width: 500px) {
  h1.text-card {
    font-size: 18px;
  }

  .email-service {
    font-size: 15px;
  }

  .go-wa {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  h1.text-card {
    font-size: 18px;
  }

  .email-service {
    font-size: 12px;
  }

  .call-center-num {
    font-size: 13px;
  }

  .go-wa {
    font-size: 11px;
  }

  .container {
    margin-bottom: 100px !important;
  }
}
