html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20% !important;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
}

.otp-code input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin-right: 9px;
  border-radius: 5px;
  border: none !important;
  box-shadow: 0 0 4px black;
  background: white;
}

.button-login button {
  border-radius: 10px;
  width: 100% !important;
}

.btn-login {
  width: 70% !important;
  padding: 10px;
}

.head-text {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .head i {
    font-size: 20px;
  }
  .btn-login {
    width: 100% !important;
  }

  .name-brand {
    margin-top: 100% !important;
  }
}

@media screen and (max-width: 900px) {
  .name-brand {
    margin-top: 80% !important;
  }
}
