html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 500px) {
  .head i {
    font-size: 20px;
  }

  .name-brand {
    margin-top: 30px;
  }
}
@media screen and (max-width: 750px) {
}

@media screen and (max-width: 900px) {
}
