html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.card-payment {
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.payment img {
  width: 40px;
  height: 30px;
}

.payment p {
  font-weight: 500;
  padding-top: 10px;
}

.payment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 1px grey;
  transition: 0.5s;
}

.payment:hover {
  background-color: rgb(240, 240, 240);
  transition: 0.5s;
}

.header {
  color: grey;
  background-color: rgb(240, 240, 240) !important;
  padding: 20px 15px;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.total {
  font-size: 30px;
  font-weight: 500;
}

.price {
  font-size: 50px;
  font-weight: 600;
  margin-top: -20px;
}

@media screen and (max-width: 500px) {
  .head i {
    font-size: 20px;
  }

  .header {
    margin-bottom: -20px;
  }

  .card-payment {
    flex-direction: column;
    width: 100%;
  }

  .payment {
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1px grey;
  }

  .total {
    font-size: 20px;
    font-weight: 500;
  }

  .price {
    font-size: 30px;
    font-weight: 600;
    margin-top: -20px;
  }

  .name-brand {
    margin-top: 30px;
  }
}
@media screen and (max-width: 750px) {
}

@media screen and (max-width: 900px) {
}
