html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.image img {
  width: 100%;
}

.container {
  box-shadow: 2px 2px 5px grey;
  border-radius: 10px !important;
}

.komposisi h6 {
  margin-top: 2px;
}

.warning h6 {
  margin-top: 2px;
}

.produksi h6 {
  margin-top: 2px;
}

.fungsi h6 {
  margin-top: 2px;
}

.nama-barang h1 {
  font-size: 45px !important;
  border-bottom: 3px solid #cacaca;
  padding-bottom: 10px;
}

.price-normal {
  font-size: 15px !important;
}

.price-promo {
  font-size: 25px;
  margin-top: -27px;
  font-weight: 550;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    transform: scale(0.8);
    margin-top: -30px !important;
  }

  .right {
    margin-top: 20px;
  }

  .deskripsi-barang {
    display: flex;
    flex-direction: column;
  }

  .fungsi {
    flex-direction: column !important;
  }
}
