html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.card-pesanan {
  margin: 10px 20px;
  box-shadow: 0 0 2px grey;
  padding: 10px 20px;
  margin-top: 30px;
}

.btn-setujui {
  width: 20%;
}

.foto-barang img {
  width: 15%;
  border: 2px solid rgb(196, 195, 195);
  border-radius: 4px;
  margin-top: 10px;
}

.no-pesanan {
  margin-top: -15px;
}

.status-pembayaran {
  margin-top: -15px;
}

.status {
  font-weight: bold;
}

.rincian {
  font-weight: 480;
}

.nama-barang {
  margin-top: 15px;
  font-weight: 550;
  font-size: 18px;
}

.deskripsi-barang {
  border-top: 2px solid rgb(185, 184, 184);
  border-bottom: 2px solid rgb(185, 184, 184);
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .btn-primary {
    width: 25% !important;
  }
}

@media screen and (max-width: 500px) {
  .btn-setujui {
    width: 40%;
  }

  .foto-barang img {
    width: 100%;
  }

  .btn-primary {
    width: 50% !important;
  }
}
