html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.data-input {
  margin-bottom: 50px !important;
}

.data-input input {
  border: 2px solid rgb(176, 176, 176);
  border-radius: 10px;
}

.form-label {
  font-weight: 550;
  font-style: italic;
}

form {
  width: 50%;
  margin-top: 50px !important;
  margin: auto;
}

form button {
  width: 20%;
}

@media screen and (max-width: 900px) {
  form {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  form {
    width: 78%;
  }

  button {
    width: 25% !important;
  }
}

@media screen and (max-width: 400px) {
  form {
    width: 80%;
  }

  button {
    width: 35% !important;
  }
}
