html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 520;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.text-bold {
  font-weight: 500;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgb(157, 157, 157);
  padding: 40px 20px;
  border-radius: 5px;
}

.me-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 2px rgb(100, 100, 100);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .container {
    transform: scale(0.9);
  }

  .d {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .me-1 {
    margin-bottom: -1px !important;
    padding: 2px;
    padding-left: 8px;
  }

  .geser {
    margin-left: 7px;
    font-weight: 500;
  }

  .w-25 {
    width: 40% !important;
    margin-top: 50px;
  }
}
