html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

/* CARD PAGE */

.nama-kategori {
  margin-top: 20px !important;
  margin-left: 10px;
}

.promo-card {
  display: flex;
  overflow-x: auto;
}

.promo-card::-webkit-scrollbar {
  display: none;
}

.card-promo {
  border-radius: 12px;
  box-shadow: 0 2px 4px grey;
  overflow: hidden;
  min-width: 25%;
  transform: scale(0.7);
}

.img-card-promo {
  width: 85%;
  display: flex;
  margin: auto;
  height: 200px;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
}

.price-item {
  font-size: 13px;
  font-weight: 500;
}

.price-promo {
  font-size: 17px;
  margin-top: -23px;
  font-weight: 600;
}

/* CARD END*/
