html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

/*  */

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

.cart img {
  width: 20%;
  height: 200px;
  box-shadow: 0 0 2px grey;
  border-radius: 5px;
}

.cart {
  box-shadow: 2px 2px 5px grey;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  overflow: hidden;
}

.nama-barang p {
  font-size: 30px;
  border-bottom: 2px solid #ddd;
}

.price {
  margin-top: -15px;
}

.price-normal {
  font-size: 14px !important;
  margin-top: 10px;
}

.price-promo {
  font-size: 24px;
  margin-left: 3px;
  font-weight: 550;
}

.banyak-button {
  display: flex;
  justify-content: space-between;
  margin-top: 70px !important;
}

.button {
  margin-left: 650px;
}

input.num {
  width: 45px !important;
  height: 35px;
  border-radius: 5px;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .button {
    margin-left: 330px !important;
  }

  .cart img {
    width: 20%;
    height: 150px;
  }

  .nama-barang p {
    font-size: 20px;
  }

  .price-normal {
    font-size: 12px !important;
    margin-top: 7px;
  }

  .price-promo {
    font-size: 20px;
    margin-left: 5px;

    font-weight: 550;
  }

  .banyak-button {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 800px) {
  .button {
    margin-left: 260px !important;
  }

  .cart img {
    width: 20%;
    height: 100px !important;
  }

  .nama-barang p {
    font-size: 18px;
  }

  .price-normal {
    font-size: 10px !important;
    margin-top: 7px;
  }

  .price-promo {
    font-size: 17px;
    margin-left: 5px;
    font-weight: 550;
  }

  .banyak-button {
    transform: scale(0.7);
    margin-top: -10px !important;
    margin-left: -110px;
  }

  .button {
    margin-left: 650px !important;
  }
}

@media screen and (max-width: 500px) {
  .head i {
    font-size: 20px;
  }

  .name-brand {
    margin-top: 30px;
  }

  .cart img {
    width: 20%;
    height: 80px !important;
  }

  .nama-barang p {
    font-size: 15px;
  }

  .price-normal {
    font-size: 7px !important;
    margin-top: 5px;
  }

  .price-promo {
    font-size: 12px;
    margin-left: 2px;
    font-weight: 550;
  }

  .banyak-button {
    margin-left: -50px;
  }

  .button {
    margin-left: 330px !important;
  }
}

@media screen and (max-width: 450px) {
  .button {
    margin-left: 290px !important;
  }
}

@media screen and (max-width: 440px) {
  .button {
    margin-left: 230px !important;
  }
}

@media screen and (max-width: 400px) {
  .button {
    margin-left: 180px !important;
  }
}
